/*base.html*/
@import url(https://fonts.googleapis.com/css?family=Fjalla+One);

* {
  line-height: normal
}


#footer {
  display: flex;
  justify-content: space-between;
}


.wrapper {
  text-align: center;
}


#img_logo {
  width: 50px;
  height: 50px;
}

/*Fav list*/
.show {
  display:inline-block;
}

.hide {
  display: none;
}

li#page{
  display:inline-block;
}

ul#parentPage button,ul#favListParent button  {
  border: transparent;
  background: transparent;
  cursor:pointer;
}

ul#parentPage img, ul#favListParent img {
  width: 40px;
  height: 42px;
  display: inline-block;
}

#page a, ul#favListParent a{
  font-size: 27px;
}

/*User Profile Page*/
#user_profile {
  padding-left:40px;
}

#user_profile p.email{
  display: inline-block;
}

.email_container{
  padding-top: 20px;
}

hr.userProfile {
  margin-top: 4rem;
  border-top: 5px solid rgba(0,0,0,.1);
  background-color: black;
}

.favorites {
  border: 3px solid 9cb39c;
}

.jumbotron {
  background-color: #FFF !important;
}

/* Terms and conditions */
.terms_elements{
  color: #525151;
  font: "Source Sans Pro";
  font-size: 16px;
  padding: 0 0 0.2em 1em; 
}

.terms{
  color: #525151;
  font: "Source Sans Pro";
  font-size: 16px;
  list-style-type: none;
  padding: 0 0 0em 1em;
  line-height: 1.5em;
}

#termsId{
  color: #525151;
  font: "Source Sans Pro";
  font-size: 1.75em;
  letter-spacing: -0.025em;
  list-style-type: none;
  margin: 0.5em 0 0em 0em;
  padding: 0 0 0em 0.5em;
  line-height: 1.5em;
}

#terms_div{
  width: 90%;
  text-align: justify;
  text-justify: inter-word;
}

a {
  color:rgb(25, 90, 39);
}
.navbar {
  background-color: #333;
  width: 100%;
  list-style-type: none;
  padding: auto !important;
  margin: auto !important;
}

.navbar a {
  float: left;
  font-size: 16px;
  color: white;
  text-align: center;
  text-decoration: none;
}

.navbar li {
  float: left;
  margin-left : 0px;
  margin-right : 0px;
}


.dropdown .dropbtn {
  font-size: 16px;  
  border: none;
  outline: none;
  color: rgb(255, 255, 255);
  background-color: inherit;
  font-family: inherit;
}

.navbar a:hover, .dropdown:hover .dropbtn {
  background-color: rgb(114, 111, 111);
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: white;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

li.dropdown:last-child .dropdown-content{
  right: 0;
  left: auto;
}

.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: rgb(114, 111, 111);
}

.dropdown:hover .dropdown-content {
  display: block;
}

#notification a{
  border-bottom:3px solid #555;
}

.notification{
  position: absolute;
  top: 5rem;
  right: 1rem;
}