/*base.html*/
@import url(https://fonts.googleapis.com/css?family=Fjalla+One);

* {
  line-height: normal
}

#menu_bar {
  Background-color: #d8f1a1;
  border-bottom:solid #9cb39c;
  border-top:solid #9cb39c;
  border-left:solid #9cb39c;
  border-right:solid #9cb39c;
  border-width: 2px;
  }

a {
   color: #6e7e6e;
   font-family: "Times New Roman", Times, serif;
   font-size: 20px;
   text-decoration: none;
}

a:hover {
  color: black;
}

ul.navbar-nav > li {
  padding-left: 10px;
  color : white;
}

#footer {
  display: flex;
  justify-content: space-between;
}

.wrapper {
  text-align: center;
}

#title, img {
  display: inline-block;
}

#title {
  vertical-align: top;
  position: relative;
  font-family: "Times New Roman", Times, serif;
  color: #6e7e6e;
  font-size: 50px;
}

#img_logo {
  width: 60px;
  height: 60px;
  max-width: 60px; 
}

/*Fav list*/
.show {
  display:inline-block;
}

.hide {
  display: none;
}

/* Navigation bar */

@media only screen and (max-width: 1200px) {
  .navbar-collapse {
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-150%, -66%);
    text-align: center;
    background-color: white;
  } 
  .navbar-nav{
    border: solid #9cb39c;
    border-width: 1px;
  }
}

/* User Profile */
.terms_elements{
  color: #525151;
  font: "Source Sans Pro";
  font-size: 16px;
  padding: 0 0 0.2em 1em; 
}

.terms{
  color: #525151;
  font: "Source Sans Pro";
  font-size: 16px;
  list-style-type: none;
  padding: 0 0 0em 1em;
  line-height: 1.5em;
}

#termsId{
  color: #525151;
  font: "Source Sans Pro";
  font-size: 1.75em;
  letter-spacing: -0.025em;
  list-style-type: none;
  margin: 0.5em 0 0em 0em;
  padding: 0 0 0em 0.5em;
  line-height: 1.5em;
}

#terms_div{
  width: 90%;
  text-align: justify;
  text-justify: inter-word;
}

.dropdown-item:hover{
  background-image:none !important;
  color: #8ca08c
}


/*User Profile Page*/
