/*base.html*/
@import url(https://fonts.googleapis.com/css?family=Fjalla+One);

* {
  line-height: normal
}


#footer {
  display: flex;
  justify-content: space-between;
}

.wrapper {
  text-align: center;
}


#img_logo {
  width: 50px;
  height: 50px;
}

/*Fav list*/
.show {
  display:inline-block;
}

.hide {
  display: none;
}

li#page{
  display:inline-block;
}

#parentPage {
  padding-left: 0;
}

ul#parentPage button,ul#favListParent button  {
  border: transparent;
  background: transparent;
  cursor:pointer;
}

ul#parentPage img, ul#favListParent img {
  width: 40px;
  height: 42px;
  display: inline-block;
}

#page a, ul#favListParent a{
  font-size: 27px;
}


/* Terms and conditions */
.terms_elements{
  color: #525151;
  font: "Source Sans Pro";
  font-size: 16px;
  padding: 0 0 0.2em 1em; 
}

.terms{
  color: #525151;
  font: "Source Sans Pro";
  font-size: 16px;
  list-style-type: none;
  padding: 0 0 0em 1em;
  line-height: 1.5em;
}

.row{
  position: relative;
}
#termsId{
  color: #525151;
  font: "Source Sans Pro";
  font-size: 1.75em;
  letter-spacing: -0.025em;
  list-style-type: none;
  margin: 0.5em 0 0em 0em;
  padding: 0 0 0em 0.5em;
  line-height: 1.5em;
}

#terms_div{
  width: 90%;
  text-align: justify;
  text-justify: inter-word;
}

a {
  color:rgb(40, 94, 145);
}
.navbar {
  background-color: #333;
  width: 100%;
  list-style-type: none;
  padding: auto !important;
  margin: auto !important;
}

.navbar a {
  float: left;
  font-size: 16px;
  color: white;
  text-align: center;
  text-decoration: none;
}

.navbar li {
  float: left;
  margin-left : 0px;
  margin-right : 0px;
}


.dropdown .dropbtn {
  font-size: 16px;  
  border: none;
  outline: none;
  color: rgb(255, 255, 255);
  background-color: inherit;
  font-family: inherit;
}

.navbar a:hover, .dropdown:hover .dropbtn {
  background-color: rgb(114, 111, 111);
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: white;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

li.dropdown:last-child .dropdown-content{
  right: 0;
  left: auto;
}

.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: rgb(114, 111, 111);
}

.dropdown:hover .dropdown-content {
  display: block;
}

#notification a{
  border-bottom:3px solid #555;
}

.notification{
  position: absolute;
  top: 5rem;
  right: 1rem;
}

.dropdown-item:hover{
  background-image:none !important;
  color: #8ca08c;
}

/*Contact us*/
#contactus #id_description {
  width: auto;
  height: 250px;
  border: 2px solid #9cb39c;
  border-radius: 8px;
  text-align: center;
}

#contactus h1 {
  color: #6e7e6e;
  font-weight:500;
  font-size: medium;
}

#contactus h6 {
  font-weight: bolder;
  font-size: -webkit-xxx-large;
}

#contactus input[type="submit"], #comment_container input[type="submit"]
{
  width: 300px;
  background-color: #8ca08c;
  color: #ffffff;
  font-weight: bolder;
}

#contactus input {
  text-align: center;
  border-bottom:solid #9cb39c;
  border-top:solid #9cb39c;
  border-left:solid #9cb39c;
  border-right:solid #9cb39c;
  border-width: 2px;
  height: 50px;
  width: 300px;
  border-radius: 8px;
}

hr {
  margin-top: 1rem;
  margin-bottom: 1rem;
  border-top: 5px solid rgba(0,0,0,.1);
  background-color: black;
}

/*Show category*/
#about_category img{
    width: 250px;
    height: 250px;
}

#about_category h1
{
    align-items: flex-end;
    display: flex;
}

#add_page i {
  font-size:-webkit-xxx-large ;
  color:black;
  text-align: right;
  float:right;
}

#category_pages {
  border: 2px solid #9cb39c;
  border-radius: 7px;
}

#comment_container p {
  display: inline-block;
}

#comment_form #id_description {
  width: 100%;
  height: 100px;
  border: 2px solid #9cb39c;
  border-radius: 8px;
  text-align: center;
}
#comment_form input{
  display:block;
}

.btn .btn-dark{
  float:right;
  text-align: right;
}

.rating {
  unicode-bidi: bidi-override;
  direction: rtl;
  text-align: center;
  font-size: 2em;
  position: absolute; 
  bottom: 0;
  left:400px;
}
.rating > span {
  display: inline-block;
  position: relative;
  width: 1.1em;
}
.rating > span:hover,
.rating > span:hover ~ span {
  color: transparent;
}
.rating > span:hover:before,
.rating > span:hover ~ span:before {
   content: "\2605";
   position: absolute;
   left: 0; 
   color: orange;
}