body, footer {
    color: #777;
    font-family: sans-serif;
    line-height: 1.15;
  }
  
.image { /*dummy content*/
    max-width: 100%;
    max-height: 100%;
  } 
  
  .page {
    background: #cecece;

  }
  
  #archive {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
    grid-gap: 1em;
  }
  
  .article {
    padding: 1em;
    background: #fff;
    box-shadow:
      0 5px 10px rgba(0, 0, 0, 0.1),
      0 20px 20px rgba(0, 0, 0, 0.05);
  }

#add_cat {
    color:black;
    font-size:50px;
    display: flex;
    align-self: flex-end;
    margin-right: 15px;
    text-decoration: none;
    list-style-type: none;
}


#cat_title {
    text-align: left;
    float: top;
    display: flex;
}

#cat_ul{
    list-style-type: none;
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
}

.CharacterContainer {
    text-align: center;
    position: relative;
    font-size: 1.4em;
    color: rgb(50, 20, 184);
    cursor: pointer;
}
.CharacterContainer:hover{
    color: blanchedalmond;
}
.CharacterElement {
    margin-right: 10px;
}

.Inactive {
    color: grey;
    cursor: default;
}

  