{% extends 'rango/base.html' %}
{% load static %} <!-- New line -->

{% block title_block %}
    Add a Page
{% endblock %}

{% block header_block %}
    <link rel="stylesheet" href="{% static 'css/register.css' %}">
{% endblock %}

{% block body_block %}
<div id = "greeting_id">
    <h1 class = greeting><strong> Add a Page </strong>
        <p>Thank you for collaborating!</p>
    </h1></div>
    <div class="container text-sm-center" id="add_cat">
        <form id="page_form" method="post" action="/rango/category/{{ category.slug }}/add_page/">
            {% csrf_token %}
            {% for hidden in form.hidden_fields %}
                {{ hidden }}
            {% endfor %}
            {% for field in form.visible_fields %}
                {{ field.errors }}
                {{ field.help_text }}
                {{ field }}
                <br />
                <br />
            {% endfor %}
            <input class="btn btn-primary mb-2" id = "submit" type="submit" name="submit" value="Create Page" />
        </form>
    </div>
{% endblock %}