<!DOCTYPE html>

{% load static %}
{% load rango_template_tags %}

<html>
<head>
    <!-- Title block -->
    <title>
        Rango - 
        {% block title_block %}
            for CS Geeks!
        {% endblock %}
    </title>  
    <!--External stylesheet for the icons in use-->
            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
            <!-- Bootstrap stylesheet along with local style style sheet -->
            <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
            <link type="text/css" rel="stylesheet" media="screen" href="{% static 'css/base.css' %}">
        {% block header_block %}
          
        {% endblock %}
</head>

<ul class="navbar">
    <!-- Navigation bar content -->
    <li><img id = "img_logo" src="{% static 'images/logo.png' %}" alt="Picture of Rango" class="pull-left"/></li>
    <li><a class="active" href="{% url 'rango:index' %}"><i class="fa fa-fw fa-home"></i> Home</a></li>   
    <!-- show super categories in the navigation bar with drop down lists to their associated categories -->
    {% if super_categories %}
        {% for sup in super_categories %}
          <li class="dropdown">
            <button class="dropbtn"><i class="fa fa-fw fa-folder"></i> {{ sup.title }}
              <i class="fa fa-caret-down"></i>
              <div class="dropdown-content">
                  <!-- associated categories -->
                {% for cat in categories %}
                {% if cat.super_cat == sup %}
                  <a href="{% url 'rango:show_category' cat.slug %}">{{ cat.name }}</a>
                {% endif %}
                {% endfor %}
              </div>
            </button>
          </li>
        {% endfor %}
    {% endif %}

    <li><a class="active" href="{% url 'rango:about' %}"><i class="fa fa-fw fa-users"></i> About Us</a></li>

    <!-- Top right drop down -->
    <li class="dropdown" id = "settings">
        <button class="dropbtn"><i class="fa fa-fw fa-bars"></i>
            <i class="fa fa-caret-down"></i>
        </button>
        <div class="dropdown-content">
            {% if user.is_authenticated %}
            <!-- user is logged in so show profile and logout -->
            <a href="{% url 'rango:profile' user.username %}"><i class="fa fa-fw fa-user"></i> Profile</a> 
            <a href="{% url 'rango:logout' %}?next=/rango/"><i class="fa fa-fw fa-sign-out"></i> Logout</a> 
            {% else %}
            <!-- user is logged out so show register and login -->
            <a class="active" href="{% url 'rango:register' %}"><i class="fa fa-fw fa-user"></i> Register</a>
            <a class="active" href="{% url 'rango:login' %}"><i class="fa fa-fw fa-sign-in"></i> Login</a>
            {% endif %}
        </div> 
    </li>
    </ul>
</div>
<body>
<main role="main">
  {% block body_block %}
  <!-- this will be filled with html file that inherit from here -->
  {% endblock %}

  <!-- Footer content -->
  <footer id = "footer">
      <p id = 'copyright'>Copyright &copy; 1998 Rango &middot; All rights reserved.</p>
      <p id = 'footer_links'><a href="{% url 'rango:contact_us' %}">Contact us</a> &middot;
          <a href="{% url 'rango:terms_of_use' %}">Terms of Use</a>
      </p>
  </footer>
  </main>
<!-- Scripts for Jquery , Ajax and Bootstrap support -->
<script src="{% static "js/jquery-3.3.1.min.js" %}" crossorigin="anonymous"></script>
<script src="{% static "js/rango-ajax.js" %}" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js"></script>

</body>
</html>