{% extends 'rango/base.html' %}
{% load static %}

{% block title_block %}
    {% if category %}
        {{ category.name }}
    {% else %}
        Unknown Category
    {% endif %}
{% endblock %}

{% block body_block %}
    {% if category %}
    <div class="container">
        <div class="row" id="about_category">
            <img src={% static 'images/placeholder.jpeg' %}/>
            <h1>{{ category.name }}</h1>
        </div>
    {% if pages %}
    <div class="row" id="category_pages">
        <div class="col-sm-8 col-md-8">
            <ul id="parentPage">
            {% for page in pages %}
                {% if user.is_authenticated %}
                    {% if fav_list %}
                        {% if page in fav_list %}
                        <div>
                        <li id="page"><a href="{{ page.url }}">{{ page.title }}</a></li>
                        <button id="unsaveFavorite{{forloop.counter0}}" class="show" data-pageid="{{page.id}}">
                            <img src={% static 'images/unsaveIcon.png' %}/>
                        </button>
                        <button id="saveFavorite{{forloop.counter0}}" class="hide" data-pageid="{{page.id}}">
                            <img src={% static 'images/saveIcon.png' %}/>
                        </button>
                        </div>
                        {% else %}
                        <div>
                        <li id="page"><a href="{{ page.url }}">{{ page.title }}</a></li>
                        <button id="unsaveFavorite{{forloop.counter0}}" class="hide" data-pageid="{{page.id}}">
                            <img src={% static 'images/unsaveIcon.png' %}/>
                        </button>
                        <button id="saveFavorite{{forloop.counter0}}" class="show" data-pageid="{{page.id}}">
                            <img src={% static 'images/saveIcon.png' %}/>
                        </button>
                        </div>
                        {% endif %}
                    {% else %}
                    <div>
                    <li id="page"><a href="{{ page.url }}">{{ page.title }}</a></li>
                    <button id="saveFavorite{{forloop.counter0}}" class="show" data-pageid="{{page.id}}">
                        <img src={% static 'images/saveIcon.png' %}/>
                    </button>
                    <button id="unsaveFavorite{{forloop.counter0}}" class="hide" data-pageid="{{page.id}}">
                        <img src={% static 'images/unsaveIcon.png' %}/>
                    </button>
                    </div>
                    {% endif %}
                {% else %}
                <div>
                <li id="page"><a href="{{ page.url }}">{{ page.title }}</a></li>
                </div>
                {% endif %}
            {% endfor %}
            </ul>
        </div>
    {% else %}
    <strong>No pages currently in category.</strong>
    {% endif %}
    {% if user.is_authenticated %}
    <div class="col-md-4" id="add_page">
        <div class="row">
            <a href="{% url 'rango:add_page' category.slug %}">
                <i class="fa fa-plus" aria-hidden="true"></i>
            </a>
        </div>
        <!-- Add rating option -->
    </div>
    </div>
    {% if comments or pages %}
    <div class="conainer">
        <div class="row">
            <h1>Comments</h1>
        </div>
    </div>
    {% endif %}
    {% if comments %}
    {% for comment in comments %}
    <div id="comment_container" class="container">
        <div class="container">
            <p>{{comment.profileInfo}}" "{{comment.profileInfo}}</p>
            <p>{{comment.date}}</p>
        </div>
        <div class="container">
            <p id="comment">{{comment.description}}</p>
        </div>
    </div>
    {% endfor %}
    {% endif %}
    {% if pages %}
    <form id="comment_form" method="post" action="/rango/category/{{ category.slug }}/">
        <div class="form-group">
        {% csrf_token %}
        {% for hidden in form.hidden_fields %}
            {{ hidden }}
        {% endfor %}
        {% for field in form.visible_fields %}
            {{ field.errors }}
            {{ field.help_text }}
            {{ field }}
        {% endfor %}
        <input type="submit" name="submit" value="Post" />
        </div>
    </form>
    {% endif %}
    {% endif %}
    </div>
    {% else %}
    The specified category does not exist.
    {% endif %}
{% endblock %}