{% extends 'rango/base.html' %}
{% load static %}

<!-- Title block -->
{% block title_block %}
    {% if category %}
        {{ category.name }}
    {% else %}
        Unknown Category
    {% endif %}
{% endblock %}

<!-- Body block -->
{% block body_block %}
    {% if category %}
    <div class="container">
        <div class="row" id="about_category">
            {% if category.image %}
            <!-- category has an image -->
            <img src="/media/{{category.image}}"/>
            {% else %}
            <!-- category does not have an image so use default one -->
            <img src="/media/default.jpeg"/>
            {% endif %}
            <h1>{{ category.name }}</h1>
            <div class="rate">
                <input type="radio" id="star5" name="rate" value="5" />
                <label for="star5" title="5">5 stars</label>
                <input type="radio" id="star4" name="rate" value="4" />
                <label for="star4" title="4">4 stars</label>
                <input type="radio" id="star3" name="rate" value="3" />
                <label for="star3" title="3">3 stars</label>
                <input type="radio" id="star2" name="rate" value="2" />
                <label for="star2" title="2">2 stars</label>
                <input type="radio" id="star1" name="rate" value="1" />
                <label for="star1" title="1">1 star</label>
              </div>
        </div>
    {% if pages %}
    <!-- show all pages related to the category and save/unsave buttons -->
    <div class="row" id="category_pages">
        <div class="col-sm-8 col-md-8">
            <ul id="parentPage">
            {% for page in pages %}
                {% if user.is_authenticated %}
                    {% if fav_list %}
                        {% if page in fav_list %}
                        <div>
                            <button id="unsaveFavorite{{forloop.counter0}}" class="show" data-pageid="{{page.id}}">
                                <img src={% static 'images/unsaveIcon.png' %} data-toggle="tooltip" title = "Click to Unsave Page"/>
                            </button>
                            <button id="saveFavorite{{forloop.counter0}}" class="hide" data-pageid="{{page.id}}">
                                <img src={% static 'images/saveIcon.png' %} data-toggle="tooltip" title = "Click to Save Page"/>
                            </button>
                        {% else %}
                        <div>
                            <button id="unsaveFavorite{{forloop.counter0}}" class="hide" data-pageid="{{page.id}}">
                                <img src={% static 'images/unsaveIcon.png' %} data-toggle="tooltip" title = "Click to Unsave Page"/>
                            </button>
                            <button id="saveFavorite{{forloop.counter0}}" class="show" data-pageid="{{page.id}}">
                                <img src={% static 'images/saveIcon.png' %} data-toggle="tooltip" title = "Click to save Page"/>
                            </button>
                        {% endif %}
                    {% else %}
                    <div>
                        <button id="saveFavorite{{forloop.counter0}}" class="show" data-pageid="{{page.id}}">
                            <img src={% static 'images/saveIcon.png' %} data-toggle="tooltip" title = "Click to save Page"/>
                        </button>
                        <button id="unsaveFavorite{{forloop.counter0}}" class="hide" data-pageid="{{page.id}}">
                            <img src={% static 'images/unsaveIcon.png' %} data-toggle="tooltip" title = "Click to Unsave Page"/>
                        </button>
                    {% endif %}
                {% else %}
                <div>
                {% endif %}
                    <!-- shows the description of the page when hovering over its title -->
                    <li id="page"><a href="{{ page.url }}" data-toggle="tooltip" title = "{{ page.description }}">{{ page.title }}</a></li>
                </div>
            {% endfor %}
            </ul>
        </div>
    {% else %}
    <strong>No pages currently in category.</strong>
    {% endif %}
    {% if user.is_authenticated %}
    <!-- add page button for authenticated users -->
    <div class="col-sm-4" id="add_page">
        <div class="row pull-right">
            <!-- hovering over this button will show "Add page" -->
            <a href="{% url 'rango:add_page' category.slug %}" data-toggle="tooltip" title = "Add Page">
                <i class="fa fa-plus" aria-hidden="true"></i>
            </a>
        </div>
    </div>
    {% endif %}
    </div>

    {% if comments %}
    <!-- show comments of the category if any -->
    <div class="conainer">
        <h1>Comments</h1>
    </div>
        {% for comment in comments %}
        <div id="comment_container" class="container">
            <div class="row">
            <div class="col-sm-6 text-left">
                <p>{{comment.profileInfo.user.username}}</p>
            </div>
            <div class="col-sm-6 text-right">
                <p>{{comment.date}}</p>
            </div>
            </div>
            <div class="row col-sm-12">
                <p id="comment">{{comment.description}}</p>
            </div>
        </div>
        <br />
        {% endfor %}
    {% endif %}

    {% if pages and user.is_authenticated %}
    <!-- if user is logged in and there exists pages, the user will be able to post comments to the category page -->
        <br/>
        <form id="comment_form" method="post" action="/rango/category/{{ category.slug }}/">
            <div class="form-group">
                {% csrf_token %}
                {% for hidden in form.hidden_fields %}
                    {{ hidden }}
                {% endfor %}
                {% for field in form.visible_fields %}
                    {{ field.errors }}
                    {{ field }}
                {% endfor %}
        <input type="submit" name="submit" value="Post" />
        </div>
    </form>
    {% endif %}
    </div>
    {% else %}
        The specified category does not exist.
    {% endif %}
    <script src="{% static 'js/category.js' %}" crossorigin="anonymous"></script>
{% endblock %}