{% extends 'rango/base.html' %}
{% load static %} <!-- New line -->

{% block title_block %}
    Add a Category
{% endblock %}

{% block body_block %}
<div class="container text-sm-center" id="contactus">
    <h6>Contact Us</h6>
    <h1>Tell us your enquiry, we will get back to you in 3 to 5 working days</h1>
    <hr />
        <form id="category_form" method="post" action="/rango/contactus/">
            <div class="form-group">
            {% csrf_token %}
            {% for hidden in form.hidden_fields %}
                {{ hidden }}
            {% endfor %}
            {% for field in form.visible_fields %}
                {{ field.errors }}
                {{ field }}
                <br />
                <br />
            {% endfor %}
            <input type="submit" name="submit" value="Submit" />
        </div>
        </form>
    </div>
{% endblock %}

