{% extends 'rango/base.html' %}
{% load static %} <!-- New line -->

<!-- Title block -->
{% block title_block %}
    Home Page
{% endblock %}

<!-- Header block utilizing index.css -->
{% block header_block %}
    <link rel="stylesheet" href="{% static 'css/index.css' %}">
{% endblock %}

<!-- Body block -->
{% block body_block %}
<div class="page">
    <nav class="AlphabetNav">
        <!-- show all alphabets in search bar -->
        {% for alphabet in alphabets %}
            <a href="">{{alphabet}}</a>
        {% endfor %}
      </nav>

    <ul id = "cat_ul">
        <li id = cat_title>
            <h1>Categories</h1>
            </li>
    <li id = "add_cat">
    <!-- Show the add category button only if user is logged in -->
    {% if user.is_authenticated %}
            <a id = "add_cat" href="{% url 'rango:add_category' user.username %}" data-toggle="tooltip" title = "Add Category">
                <i class="fa fa-plus" aria-hidden="true"></i>
            </a>
    {% endif %}
    </li>
    </ul>

    <div id="archive">
    </div>
  </div>
  <!-- Java script files utilized -->
  <script src="{% static 'js/index.js' %}" crossorigin="anonymous"></script>
  <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.5/jquery.min.js"></script>
{% endblock %}