{% extends 'rango/base.html' %}
{% load static %} <!-- New line -->

{% block title_block %}
    Home Page
{% endblock %}

{% block header_block %}
    <link rel="stylesheet" href="{% static 'css/index.css' %}">
{% endblock %}
{% block body_block %}
    {% if user.is_authenticated %}
    <div class="col-md-4" id="add_category">
            <a href="{% url 'rango:add_category' user.username %}">
                <i class="fa fa-plus" aria-hidden="true"></i>
            </a>
        <!-- Add rating option -->
    </div>
    {% endif %}
<div class="page">
    <h1>Categories</h1>
    <div id="archive">
    </div>
  </div>
  <script src="{% static 'js/index.js' %}" crossorigin="anonymous"></script>
{% endblock %}