{% extends 'rango/base.html' %}
{% load static %} <!-- New line -->


{% block title_block %}
    About Us
{% endblock %}

{% block header_block %}
    <link rel="stylesheet" href="{% static 'css/index.css' %}">
{% endblock %}

{% block body_block %}
<div>
  {% if categories %}
  <ul>
      {% for category in categories %}
      <div class="row">
        <div class="column">
          <div class="card">
            <img class = "img" src="{% static 'images/Python.png' %}" alt="Python">
            <div class="container">
              <h2><a href="{% url 'rango:show_category' category.slug %}">{{ category.name }}</a></h2>
              <p>Engie is a Masters student at University of Glasgow</p>
              <p>edinana@aucegypt.edu</p>
            </div>
          </div>
        </div>
      </div>
      {% endfor %}
  </ul>                
  {% else %}
  <strong>There are no categories present.</strong>
  {% endif %}
</div>

{% endblock %}


