{% extends 'rango/base.html' %}
{% load static %}

{% block title_block %}
    Login
{% endblock %}




{% block header_block %}
    <link rel="stylesheet" href="{% static 'css/login.css' %}">
{% endblock %}



{% block body_block %}
{% include 'rango/message.html' %}
<div id = "greeting_id">
<h1 class = greeting>It's nice to see you again!</h1>
</div>
<div id = login>
<form class="login_form" method="post" action="{% url 'rango:login' %}">
    {% csrf_token %}
    <input type="text" class = "default"  placeholder="Username" name="username" value=""/>
    <br />
    <br />
    <input type="password" class = "default"  placeholder="Password" name="password" value=""/>
    <br />
    <p class="forgot-password"><a class= "fgt-password" href="">Forgot Password</a></p>
    <input class="btn btn-primary mb-2" id = "alogin" type="submit" value="Login" />
    <br />
    <button class="btn btn-primary mb-2">
        <a href="{% url 'rango:facebook_login' %}">Login with Facebook</a>
    </button>
</form>
</div>
{% endblock %}
