{% extends 'rango/base.html' %}
{% load static %} <!-- New line -->

{% block title_block %}
    Profile Page
{% endblock %}

{% block header_block %}
    <link rel="stylesheet" href="{% static 'css/profile.css' %}">
{% endblock %}

{% block body_block %}
<div class="card">
    {% if user_profile.picture %}
        <img class = "center" src = "{{MEDIA_URL}}{{user_profile.picture}}"
             width="300"
             height="300"
             alt="{{ selected_user.username}}'s profile image"/>
        {% else %}
        <img class = "center" src="{% static "images/default_profile_pic.png" %}"
            width="300"
             height="300"
            alt="Picture of Rango"/>
        {% endif %}
    <h1><strong>{{selected_user.first_name}} {{selected_user.last_name}} </strong></h1>
    {% if user.username %}
                        <p class="username"><strong>Username:</strong> {{ user.username }}</p>
                        {% endif %}
                        {% if user.email %}
                        <p class="email"><strong>Email:</strong> <a href="{{ user.email }}">{{ user.email }}</a></p>
                        {% endif %}
                        {% if user_profile.dob %}
                        <p class="dob"><strong>Date of Birth:</strong> {{ user_profile.dob }}</p>
                        {% endif %}
                        {% if user_profile.gender %}
                        <p class="gender"><strong>Gender:</strong> {{ user_profile.gender }}</p>
                        {% endif %}
                        {% if user_profile.website %}
                        <p class="website"><strong>Website:</strong> <a href="{{ user_profile.website }}">{{ user_profile.website }}</a></p>
    {% endif %}
</div>

<div class="jumbotron p-4">
<hr class="userProfile"/>
<div class="jumbotron p-0"></div>
    {% if pages %}
    <div class="container">
        <h1 class="jumbotron-heading"><strong>Saved Pages</strong></h1>
    </div>
    <div class="container favorites">
        <ul id="favListParent">
        {% for page in pages %}
            <li class = favlist><button id="unsaveFavorite{{forloop.counter0}}" class="show" data-pageid="{{page.id}}">
                <img class = "icon" src={% static 'images/unsaveIcon.png' %} data-toggle="tooltip" title = "Click to Unsave Page"/>
            </button>
            <button id="saveFavorite{{forloop.counter0}}" class="hide" data-pageid="{{page.id}}">
                <img class = "icon" src={% static 'images/saveIcon.png' %} data-toggle="tooltip" title = "Click to save Page"/>
            </button><a href="{{ page.url }}">{{ page.title }}</a>
            </li>
        {% endfor %}
        </ul>
    </div>
    {% else %}
    <div class="container">
        <h1 class="jumbotron-heading">You have no saved Pages</h1>
    </div>
    {% endif %}
</div>
{% endblock %}